[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
arviz = "*"
pymc3 = "*"
ipykernel = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
